<div class="column is-half is-offset-one-quarter is-mobile container">
  <h1 style="font-size:20px">Password Generator</h1>
  <div class=" field">
    <label class="label">Enter Length: </label>
    <input
      class="input is-medium"
      (input)="onChangeLength($event.target.value)"
    />

    <div class=" columns">
      <div class="column is-narrow">
        <label class="label">Use Letters </label>
        <label class="label">Use Numbers </label>
        <label class="label">Use Symbols </label>
      </div>

      <div class="column">
        <input
          (change)="onChangeUseLetters()"
          type="checkbox"
          class="checkbox first-checkbox"
        />
        <input
          (change)="onChangeUseNumbers()"
          type="checkbox"
          class="checkbox second-checkbox"
        />
        <input
          (change)="onChangeUseSymbols()"
          type="checkbox"
          class="checkbox third-checkbox"
        />
      </div>
    </div>

    <div class=" field is-grouped is-grouped-left">
      <div class="control">
        <button
          [disabled]="
            !length && (includeLetters || includeSymbols || includeNumbers)
          "
          (click)="onButtonClick()"
          class="button is-primary"
        >
          Generate!
        </button>
      </div>
    </div>

    <div class="box" *ngIf="password">
      <label class="label">Your Password</label>
      <input [value]="password" class="input is-medium" />
    </div>
  </div>
</div>
